body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #829C8E;
}

a {
  color: inherit;
  text-decoration: none;
}

.invisible {
  position: absolute;
  clip: rect(0,0,0,0);
}

/* SLIDER */

body > input[type="radio"] {
  display: none;
}

.page-wrapper{
  min-width: 1240px;
  background-color: #829C8E;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease,
  background-color 0.5s ease;
}

.page-wrapper::before,
.page-wrapper::after{
  content: " ";
  visibility: hidden;
}

.page-wrapper::before,
.page-wrapper::after{
  background-image: url("../img/slider-1.png");
}

.page-wrapper::after{
  background-image: url("../img/slider-2.png");
}

.content-wrapper{
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider{
  position: relative;
  padding-top: 400px;
  text-align: center;
}

.slides-item {
  display: none;
}

.slide-title{
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
}

.slider-btn{
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  text-shadow: 0 2px 5px rgba(159,31,10,0.8);
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(#F16944, #E74B36);
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 2px rgba(171,16,0,0.6);
  padding: 16px 40px;

}

.slider-btn:hover{
  background-image: linear-gradient(#F48769, #EC6F5D);
  box-shadow: 0px 2px 2px rgba(171,16,0,1);
}

.slider-btn:active{
  color: #FCEEEC;
  background-image: linear-gradient(#D14430, #D14430);
  box-shadow: inset 0px 2px 2px rgba(148,38,23,1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0px;
}

.slider-controls label{
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .page-wrapper #slide1,
#btn-2:checked ~ .page-wrapper #slide2,
#btn-3:checked ~ .page-wrapper #slide3{
   display: block;
}

#btn-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#btn-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#btn-1:checked ~ .page-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-wrapper label[for="btn-3"]{
  background-color: #ffffff;
}

/* NAVI */
/* main NAVI */

.main-navi ul{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  list-style: none;
}


.main-navi b{
  display: block;
  font-weight: bold;
  font-size: 22px;
}

.main-navi-item {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  vertical-align: middle;
}

.main-navi-item a{
  position: relative;
  display: block;
  padding: 10px 20px;
}

.dropdown-hover-list {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: -10px;
  z-index: 10;
  padding: 10px 10px;

}


.dropdown-hover-item {
  position: relative;
  display: none;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
  background-color: #f8f7f4;
  width: 150px;
  height: 36px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0, .4);

}

.catalog-link:hover  .dropdown-hover-item{
  display: block;
}

.dropdown-hover-item:first-child {
  font-weight: 700;
  padding-bottom: 4px;
  border-radius: 5px 5px 0 0;
}

.dropdown-hover-item:first-child::after{
  content: "";
  position: absolute;
  right: 14px;
  top: 39px;
  left: 14px;
  height: 1px;
  background-color: rgba(50,50,50,.2);
}

.dropdown-hover-item:last-child {
  padding-bottom: 4px;
  border-radius: 0 0 5px 5px;
}

.dropdown-hover-item:hover {
  background-color: #fbded7;
}

.dropdown-hover-item:active {
  background-color: #f6b5a5
}

li.main-navi-item > a:not(.currently-selected)::after{
  content: "";
  position: absolute;
  right: 20px;
  bottom: 7px;
  left: 20px;
  height: 1px;
  background-color: rgba(255,255,255,.4);
}

li.main-navi-item > a:hover,
li.main-navi-item > a:focus{
  color: #333333;
  background-color: #F7F5F3;
  border-radius: 20px;
}


li.main-navi-item > a:active{
  color: #333333;
  background-color: #F7F5F3;
  border-radius: 20px;
  box-shadow: inset 0px 2px 4px #696868;
}

li.main-navi-item > a.currently-selected{
  color: #FFFFFF;
  background-color: #CF6F57;
  border-radius: 20px;
}

/* user NAVI */

.user-navi {
  font-size: 14px;
  font-weight: 500;
  list-style: none;
}

.user-navi-item{
  position: relative;
  display: inline-block;
  vertical-align: middle;

}

.user-navi-item button{
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  border-radius: 32px;
  background-color: rgba(255,255,255,.2);
}

.search-btn {
  width: 32px;
  height: 32px;
  background-image: url("../img/loupe.svg");

  background-position: 6px 6px;
  background-repeat: no-repeat;
}

.search-btn:hover{
  color: #000000;
  background-color: rgba(255,255,255,1);
}


.serach-hover {
  display: none;
  position: absolute;
  top: -20px;
  right: -40px;
  z-index: 10;
  padding: 60px 30px;

}

.search-form {
  width: 300px;
  padding: 17px 15px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
}

.search-form input{
  display: block;
  width: 270px;
}

.search-btn:hover + div{
  display: block;
}


.enter-btn,
.cart-btn{
  padding: 9px 15px;
}

.enter-btn:hover,
.cart-btn:hover{
  color: #000000;
  background-color: rgba(255,255,255,1);
}

.user-navi p{
  font-size: 14px;
  font-weight: bold;
}

.user-navi b{
  font-size: 22px;
  font-weight: bold;
}



/* buttons */

.button{
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(55,07,0,0.5);
  padding: 14px 22px;
}

.button:hover{
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0px 1px 2px rgba(171,16,0,1);
}


.button:active{
  background-image: linear-gradient(#D94934, #DF603F);
  box-shadow: inset 0px 2px 2px rgba(148,38,23,1);
}

/* specialties */

.specialties ul,
.slider ul,
.hits ul{
  list-style: none;
}

.specialties-item {
  width: 560px;
  height: 230px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 22px;
  margin: 20px;
}

.specialties-item h3{
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.specialties-item p{
  font-weight: bold;
  font-size: 18px;
}

.raspberry{
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
}

.chocolate{
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
}

/* Hits */

.hits b,
.product-item b{
  font-weight: bold;
  font-size: 30px;
}

.hits-item img{
  border-radius: 50%;
}

.hits span,
.product-item span{
  font-weight: bold;
  font-size: 45px;
}

.hits h3,
.product-item h3 {
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
}

/* features */

.features h2{
  font-weight: 500;
  font-size: 24px;
  color: #323232;
}

.features p{
  font-size: 16px;
  color: #323232;
}

/* blogpost */

.blogpost,
.newsletter {
  width: 560px;
  height: 220px;
  border: 2px solid white;
  border-radius: 20px;
}

.blogpost p{
  font-weight: 500;
  font-size: 16px;
  color: #323232;
}

.blogpost a{
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
  color: #323232;
}

/* newsletter */

.newsletter p{
  font-size: 16px;
  color: #323232;
}

.blogpost,
.newsletter {
  width: 560px;
  height: 220px;
  border: 2px solid white;
  border-radius: 20px;
}

/* map */

.map p{
  font-size: 14px;
  color: #323232;
}

.map b{
  font-weight: bold;
  font-size: 18px;
  color: #323232;
}


/* catalog page */

.breadcrumbs li{
  font-size: 14px;
}

.breadcrumbs a{
  text-decoration: underline;
}

/* filters*/

.sort-block p,
.price-block p,
.fat-block p,
.fillings-block{
  font-weight: 500;
  font-size: 14px;
}

.fat-block label,
.fillings-block label{
  font-weight: 500;
  font-size: 16px;
  margin-left: 12px;
}

.apply-filter{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.2);
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 30px;
}

.apply-filter:hover{
  color: #323232;
  background-color: rgba(255,255,255,1);
}

.apply-filter:active{
  color: #323232;
  border: none;
  background-color: #E7E8E7;
  box-shadow: inset 0px 2px 1px #696969;
  padding: 10px 27px;
}


/* footer */

.footer-navi a {
  text-decoration: underline;
}

.footer-navi-list a{
  font-size: 13px;
}

.for-providers a{
  font-weight: bold;
}

.copyright p{
  font-size: 12px;
}

/* modal & hovers */

.modal {
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 477px;
  height: 442px;
  padding: 20px 25px;
}

.modal b{
  font-weight: 500;
  font-size: 24px;
  color: #323232;
  margin-bottom: 24px;
}

.search-form input:not(.button),
.modal-contact input:not(.button),
.modal-contact textarea,
.login-hover input:not(.button),
.newsletter input:not(.button){
  font-size: 16px;
  color: #999999;
  text-align: left;
  vertical-align: middle;
  background-color: #FFFFFF;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  padding: 15px;
}

.search-form input:not(.button):hover,
.modal-contact input:not(.button):hover,
.modal-contact textarea:hover,
.login-hover input:not(.button):hover,
.newsletter input:not(.button):hover{
  border: 2px rgba(154,154,154,0.5) solid;
  padding: 14px;
}

.search-form input:not(.button):focus,
.modal-contact input:not(.button):focus,
.modal-contact textarea:focus,
.login-hover input:not(.button):focus,
.newsletter input:not(.button):focus{
  border: 2px rgba(45,135,228,0.5) solid;
  padding: 14px;
}
