body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 120%;
  background-color: #829C8E;
  color: #FFFFFF;
}

h1{
  font-size: 35px;
  font-weight: bold;
  line-height: 120%;
  color: #FFFFFF;
}

h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 120%;
  color: #FFFFFF;
}

.main-navi-item {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-decoration: underline;
}

.header-phone {
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
}

.invisible {
  position: absolute;
  clip: rect(0,0,0,0);
}

a {
  color: inherit;
}
