body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: #829C8E;
}



a {
  color: inherit;
}
.img {
  max-width: 100%;
  height: auto;
}

.invisible:not(:focus):not(:active),
input[type="checkbox"].invisible,
 input[type="radio"].invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
  overflow: hidden;
}

/* SLIDER */

body > input[type="radio"] {
  display: none;
}

.page-wrapper{
  background-color: #829C8E;
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease,
  background-color 0.5s ease;

  background-image: url("../img/gllacy-index-1200.jpg");
  background-repeat: no-repeat;
}



.page-wrapper::before,
.page-wrapper::after{
  background-image: url("../img/slider-1.png");
}

.page-wrapper::after{
  background-image: url("../img/slider-2.png");
}

.slider ul{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -130px;
}

.slider{
  position: relative;
  padding-top: 400px;
  text-align: center;
}

.slides-item {
  display: none;
}

.slide-title{
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
}

.slider-btn{
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  text-shadow: 0 2px 5px rgba(159,31,10,0.8);
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(#F16944, #E74B36);
  border: none;
  border-radius: 100px;
  box-shadow: 0px 2px 2px rgba(171,16,0,0.6);
  padding: 13px 40px;

}

.slider-btn:hover{
  background-image: linear-gradient(#F48769, #EC6F5D);
  box-shadow: 0px 2px 2px rgba(171,16,0,1);
}

.slider-btn:active{
  color: #FCEEEC;
  background-image: linear-gradient(#D14430, #D14430);
  box-shadow: inset 0px 2px 2px rgba(148,38,23,1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0px;
}

.slider-controls label{
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .page-wrapper #slide1,
#btn-2:checked ~ .page-wrapper #slide2,
#btn-3:checked ~ .page-wrapper #slide3{
   display: block;
}

#btn-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#btn-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#btn-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#btn-1:checked ~ .page-wrapper label[for="btn-1"],
#btn-2:checked ~ .page-wrapper label[for="btn-2"],
#btn-3:checked ~ .page-wrapper label[for="btn-3"]{
  background-color: #ffffff;
}

/* NAVI */
/* main NAVI */

.navi-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.main-navi {
  display: flex;
  flex-wrap: nowrap;
  min-height: 64px;
  align-items: flex-start;
}

.container {
  width: 1146px;
  margin: 0 auto;

}

.main-navi-logo {
  margin-top: 10px;
}

.main-navi-logo img{
  width: 154px;
  height: 64px;
}

.main-navi ul {
  list-style: none;
}

.main-navi-list,
.user-navi-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-navi-list {
  margin-left: 10px;
  margin-top: 24px;
}



.main-navi-item {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  vertical-align: middle;
  margin-right: 1px;
}

.main-navi-item a{
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 8px 14px;
  vertical-align: middle;
}

.dropdown-hover-list {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: -10px;
  z-index: 10;
  padding: 10px 10px;

}

.dropdown-hover-item {
  position: relative;
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
  background-color: #f8f7f4;
  width: 150px;
  height: 36px;
  box-shadow: 0 20px 20px 0 rgba(0,0,0, .4);
}

.dropdown-hover-item a {
  color: #323232;
}

.catalog-link:hover  .dropdown-hover-item{
  display: block;
}

.dropdown-hover-item:first-child {
  font-weight: 700;
  padding-bottom: 4px;
  border-radius: 5px 5px 0 0;
}

.dropdown-hover-item:first-child::after{
  content: "";
  position: absolute;
  right: 14px;
  top: 39px;
  left: 14px;
  height: 1px;
  background-color: rgba(50,50,50,.2);
}

.dropdown-hover-item:last-child {
  padding-bottom: 4px;
  border-radius: 0 0 5px 5px;
}

.dropdown-hover-item:hover {
  background-color: #fbded7;
}

.dropdown-hover-item:active {
  background-color: #f6b5a5
}


li.main-navi-item > a:not(.currently-selected)::after{
  content: "";
  position: absolute;
  right: 13px;
  bottom: 7px;
  left: 13px;
  height: 1px;
  background-color: rgba(255,255,255,.4);
}


li.main-navi-item > a:hover,
li.main-navi-item > a:focus{
  color: #333333;
  background-color: #F7F5F3;
  border-radius: 20px;
}


li.main-navi-item > a:active{
  color: #333333;
  background-color: #F7F5F3;
  border-radius: 20px;
  box-shadow: inset 0px 2px 4px #696868;
}

.main-navi-item > .currently-selected{
  color: #FFFFFF;
  background-color: #CF6F57;
  border-radius: 20px;
  pointer-events: none;
  cursor: default;
}

/* user NAVI */

.user-navi-list {
  margin-left: auto;
  justify-content: flex-end;

}

.index-nav {
  max-width: 280px;
}

.catalog-nav {
  max-width: 300px;
}

.user-navi-item {
  position: relative;
  min-height: 32px;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  margin-top: 3px;
}

.user-navi-item:not(:nth-child(3)){
  margin-right: 10px;

}

.user-navi-item a{
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  border: none;
  border-radius: 32px;
  background-color: rgba(255,255,255,.2);
}

/* search */

.search-link {
  padding-top: 8px;
  padding-bottom: 20px;
}

.search-btn {
  width: 30px;
  height: 30px;
  padding: 2px;
  font-size: 0;
  background-image: url("../img/loupe_white.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.search-link:hover .search-btn{
  color: #000000;
  background-color: rgba(255,255,255,1);
  background-image: url("../img/loupe_black.svg");
}

.search-link:hover > .search-btn{
  background-image: url("../img/loupe_black.svg");
}

.search-form {
  display: none;
  width: 300px;
  position: absolute;
  top: 60px;
  right: 0px;
  z-index: 10;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
}

.search-form input{
  display: block;
  width: 270px;
}


.search-link:hover > .search-form{
  display: block;
}


/* login cart */

.enter-btn,
.cart-btn{
  font-size: 14px;
  position: relative;
  padding: 7px 20px 10px 40px;
}

.login-link,
.cart-link,
.cart-content {
  padding-top: 20px;
}

.login-link:hover .enter-btn,
.cart-link:hover .cart-btn,
.cart-content:hover .cart-btn {
  color: #000000;
  background-color: rgba(255,255,255,1);
}


.user-navi-list .enter-btn::before{
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 6px;
  left: 10px;

  background-image: url("../img/entrance_white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.cart-link .cart-btn::before{
  content: " ";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 6px;
  left: 10px;

  background-image: url("../img/basket_white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-content .cart-btn::before{
  content: " ";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 8px;
  left: 16px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-hover {
  display: none;
  position: absolute;
  top: 40px;
  right: -20px;
  z-index: 10;
  padding: 20px;
}

.login-form{
  width: 270px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
}

.login-name,
.login-password{
  width: 240px;
  margin-bottom: 20px;
}

.user-navi-login-form-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-navi-login-form-link-container {
  margin-left: 45px;
}

.restore,
.new-user {
  font-size: 13px;
  font-weight: 400;
  color: #323232;
}

.login-link:hover > .login-hover {
  display: block;
}

.login-link:hover > .enter-btn::before{
  background-image: url("../img/entrance_black.svg");
}

.cart-link:hover > .cart-btn::before {
  background-image: url("../img/basket_black.svg");
}


.cart-content:hover .cart-hover {
  display: block;
}

.cart-hover {
  display: none;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 540px;
  min-height: 240px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.4);
  z-index: 20;
}

.items-in-cart-wrapper {
  padding-right: 23px;
  border-bottom: 1px solid #cacac7;
}

.item-in-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400px;
  color: #323232;
}

.delete-cart-item {
  width: 11px;
  height: 11px;
  padding: 0;
  margin-right: -6px;
  cursor: pointer;
  font-size: 0;
  border: 0;
  background: none;
}

.delete-cart-item::before,
.delete-cart-item::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 16px;
  height: 2px;
  background-color: #323232;
}

.delete-cart-item::before {
  transform: rotate(45deg);

}

.delete-cart-item::after {
  transform: rotate(-45deg);
}

.small-icecream {
  border-radius: 50%;
}

.item-in-cart-title {
  max-width: 220px;
}

.item-in-cart span {
  color: #999999;
}

.summary-wrapper {
  text-align: right;
}

.summary-wrapper p {
  font-size: 15px;
  font-weight: bold;
  color: #323232;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* phone oppening hours */

.main-navi-contacts {
  min-width: 170;
  text-align: right;
}

.contacts-block {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

.main-navi-contacts-phone {
  display: block;
  margin-top: 3px;
  font-size: 22px;
  text-decoration: none;
}


/* buttons */

.button{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border: none;
  border-radius: 40px;
  box-shadow: 0px 2px 2px rgba(55,07,0,0.5);
  padding: 14px 15px;
}

.button:hover{
  background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
  box-shadow: 0px 1px 2px rgba(171,16,0,1);
}


.button:active{
  background-image: linear-gradient(#D94934, #DF603F);
  box-shadow: inset 0px 2px 2px rgba(148,38,23,1);
}

/* specialties */

.specialties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.specialties-item {
  position: relative;
  flex-basis: 560px;
  min-height: 230px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 16px 19px;
}

.specialties-item h3{
  font-weight: bold;
  font-size: 35px;
  margin: 0;
}

.specialties-item p{
  font-weight: bold;
  font-size: 18px;
  margin-top: 16px;
}

.specialties-item-button {
  text-align: right;
  margin-top: 44px;
}

.raspberry{
  background-image: url("../img/raspberry-background.jpg");
  background-repeat: no-repeat;
}

.chocolate{
  background-image: url("../img/chocolate-background.jpg");
  background-repeat: no-repeat;
}

/* Hits & products */

.hits-list,
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  list-style: none;
  padding: 0;
}

.product-item {
  position: relative;
  flex-basis: 267px;
  text-align: center;
  margin-bottom: 40px;
}

.product-item:hover {
  z-index: 10;
}

.product-item:hover .product-item-hover {
  display: block;
  cursor: pointer;
}

.product-item:hover .product-title {
  line-height: 133%;
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.product-item b{
  font-weight: bold;
  font-size: 30px;
}

.product-item img{
  border-radius: 50%;
  margin-bottom: 10px;
}

.hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
}

.product-price {
  display: block;
  position: absolute;
  top: 210px;
  left: 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.rub {
  position: absolute;
  bottom: 0px;
  left: 80px;
}

.product-item b{
  padding-left: 30px;
}


.product-item .product-title {
  line-height: 133%;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  margin-top: 0;
  border-bottom: 1px solid rgba(255,255,255,.4);
}


.product-item-hover {
  display: none;
  position: absolute;
  top: -10px;
  bottom: -83px;
  left: -12px;
  right: -12px;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.quick-look {
  position: absolute;
  left: 38px;
  bottom: 20px;
  cursor: pointer;
}

/* features */
.features {
  color: #323232;
  border-radius: 15px;
  background: #eee2c5 url("../img/waffle_small.jpg") center;
  padding: 20px 20px 14px;
  box-sizing: border-box;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.features-item {
  position: relative;
  line-height: 140%;
  padding-top: 12px;
  padding-left: 57px;
  margin: 0;
  flex-basis: 480px;
  margin-bottom: 10px;
}

.features h2{
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #323232;
  margin: 0;
  margin-bottom: 12px;
}

.features p{
  font-size: 16px;
  color: #323232;
}

.features-item:nth-child(2n-1) {
  margin-right: 30px;
}

.features-list .icecream::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.features-list .leaf::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.features-list .cow::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.features-list .termometer::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}


/* additional info*/

.additional-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* blogpost */

.blogpost,
.newsletter {
  flex-basis: 560px;
  min-height: 220px;
  border-radius: 20px;
}

.blogpost {
  padding-top: 8px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-position: 200px 0;
}

.blogpost p{
  font-weight: 500;
  font-size: 16px;
  color: #323232;
  margin-bottom: 7px;
}

.blogpost a{
  display: inline-block;
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
  color: #323232;
  padding-right: 230px;
}

/* newsletter */

.newsletter {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  background-image: url("../img/stripes.jpg");
}

.newsletter-form {
  padding: 32px 22px;
  background-color: #f8f7f4;
  border-radius: 20px;
}

.newsletter p{
  color: #5a5a5a;
  margin: 0;
  margin-bottom: 40px;
}

.newsletter-form-wrapper {
  display: flex;
}

.newsletter .email {
  flex-grow: 1;
  margin-right: 11px;
}

/* map */

.map {
  position: relative;
  background-image: url("../img/map.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 430px;
}

.map .pin {
  position: absolute;
  left: 380px;
  top: 138px;
}

.map p{
  line-height: 20px;
  color: #323232;
}

.map-text{
  margin-bottom: 5px;
}

.map-adress{
  font-weight: bold;
  font-size: 18px;
  color: #323232;
  margin: 0;
  margin-bottom: 21px;
}

.map-contacts {
  position: absolute;
  top: 62px;
  right: 140px;
  width: 300px;
  min-height: 305px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 13px 25px;
  background-color: rgba(255, 255, 255, 0.98);
}

.map-phone {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 4px;
}

.map-openning-hours {
  margin-top: 0;
  margin-bottom: 25px;
}

.map-contacts .button {
  display: block;
}

/* CATALOG PAGE */

/* main */

.login-link{
  cursor: pointer;
}

.catalog-main {
  margin-top: 14px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: -40px;
  margin-bottom: 13px;
}

.breadcrumbs-list li{
  font-size: 14px;

}

.breadcrumbs-list li:not(last-child) {
  margin-right: 20px;
}

.breadcrumbs a{
  position: relative;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.4);
}

.breadcrumbs a::after {
  content: "»";
  position: absolute;
  right: -14px;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}


.catalog-title {
  font-size: 35px;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
  margin-bottom: 12px;
}

/* filters*/

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 865px;
  margin-bottom: 40px;
}

.range {
  display: flex;
  align-items: center;
  min-height: 38px;
}

.range-slider{
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 190px;
  height: 4px;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.sort {
  box-sizing: border-box;
  color: #ffffff;
  width: 195px;
  min-height: 38px;
  padding-left: 16px;
  background-color: rgba(255,255,255,0.2);
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 170px 17px;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.sort:hover {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/arrow-black.svg");
}

.range {
  box-sizing: border-box;
  border: none;
  min-width: 220px;
  padding: 5px;
}


.filters-form-input-wrapper {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.2);
}

.filters-form-input-wrapper:not(.fat) {
  margin-right: 10px;
}

.sort-block p,
.price-block p,
.fat-block p,
.fillings-block p{
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.fat-block label,
.fillings-block label{
  font-weight: 500;
  font-size: 16px;
  margin-left: 12px;
}

.fat {
  display: flex;
  justify-content: space-around;
  min-width: 415px;
  padding-left: 0px;

}

.fat-radio,
.fillings-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.fat-radio .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border: 4px solid rgba(255,255,255,0.8);
  border-radius: 50%;
}

.fat-radio:hover > .radio-indicator,
.fat-radio:focus > .radio-indicator,
.fillings-checkbox:hover > .checkbox-indicator,
.fillings-checkbox:focus > .checkbox-indicator{
  border-color: rgba(255,255,255,1);
}

.fillings {
  display: flex;
  justify-content: space-around;
  min-width: 690px;
  padding-left: 0px;
}

.fillings-block .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(255,255,255,0.8);
}

.fat-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.fillings-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: 18px;
  height: 8px;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  transform: rotate(-45deg);
}



.apply-filter{
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255,255,0.2);
  border: 2px solid white;
  border-radius: 20px;
  padding: 7px 30px;
}

.apply-filter:hover{
  color: #323232;
  background-color: rgba(255,255,255,1);
}

.apply-filter:active{
  color: #323232;
  border: none;
  background-color: #E7E8E7;
  box-shadow: inset 0px 2px 1px #696969;
  padding: 10px 27px;
}

/* paginator */

.paginator {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  margin-top: 40px;
  padding-bottom: 14px;
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.pagination-arrow {
  position: relative;
  top: 10px;
  font-size: 0px;
  background: none;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  cursor: pointer;
}

.pagination-prev {
  transform: rotate(-135deg);
  opacity: 0.2;
  cursor: default;
  margin-right: 4px;
}

.pagination-next {
  transform: rotate(45deg);
}

.pagination-item {
  font-size: 16px;
  padding: 3px 8px;
  margin-right: 6px;
  border-radius: 50%;
}

.pagination-item a {
  text-decoration: none;
}

.pagination-item:hover:not(.currently-selected) {
  background-color: rgba(255,255,255,0.2);
}

.pagination-item:active,
.currently-selected {
  background-color: rgba(255,255,255,1);
  color: #323232;
}





/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 40px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 187px;
  padding-left: 0px;
  margin-right: -23px;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-button svg{
  margin: 0;
  padding: 0;
  fill: rgba(255, 255, 255, 0.8);
}

.social-button svg:hover {
  fill: rgba(255, 255, 255, 1);
}

.social-button svg:active {
  fill: rgba(255, 255, 255, 1);
}


.footer ul {
  list-style: none;
}


.footer-navi-list {
  width: 320px;
  text-align: left;
}


.footer-navi-list a:hover,
.footer-navi-list a:active,
.htmlacademy-link:hover,
.htmlacademy-link:active {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}


.footer-navi-list a{
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.4);
}

.footer-navi-list a:nth-child(2n-1) {
  margin-right: 10px;
}

.footer-navi-item {
  display: inline-block;
  min-width: 142px;
}

.for-providers {
  position: relative;
  font-weight: bold;
}

.for-providers::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -20px;
  top: 2px;
  background-image: url("../img/heart.svg");
}

.copyright{
  margin-top: -10px;
}

.copyright p{
  margin: 0;
  margin-top: 0;
  font-size: 12px;
}


/* modal & hovers */

.modal {
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 477px;
  height: 442px;
  padding: 20px 25px;
}


.search-form input:not(.button),
.modal-contact input:not(.button),
.modal-contact textarea,
.login-hover input:not(.button),
.newsletter input:not(.button){
  font-size: 16px;
  color: #999999;
  text-align: left;
  vertical-align: middle;
  background-color: #FFFFFF;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
  padding: 12px;
}

.search-form input:not(.button):hover,
.modal-contact input:not(.button):hover,
.modal-contact textarea:hover,
.login-hover input:not(.button):hover,
.newsletter input:not(.button):hover{
  border: 2px rgba(154,154,154,0.5) solid;
  padding: 14px;
}

.search-form input:not(.button):focus,
.modal-contact input:not(.button):focus,
.modal-contact textarea:focus,
.login-hover input:not(.button):focus,
.newsletter input:not(.button):focus{
  border: 2px rgba(45,135,228,0.5) solid;
  padding: 14px;
}



.contact-name-wrapper,
.contact-email-wrapper,
.contact-comment-wrapper {
  margin-bottom: 20px;
}

.search-wrapper,
.login-name-wrapper,
.login-password-wrapper,
.newsletter-form-wrapper,
.contact-name-wrapper,
.contact-email-wrapper,
.contact-comment-wrapper {
  position: relative;
}

.search-form input,
.login-name-wrapper input,
.login-password-wrapper input,
.newsletter-form-wrapper input:not(.button),
.contact-name-wrapper input,
.contact-email-wrapper input,
.contact-comment-wrapper textarea {
  color: #323232;
  font-size: 16px;
  font-weight: bold;
}

.search-form input + label,
.login-name-wrapper input + label,
.login-password-wrapper input + label,
.newsletter-form-wrapper input + label,
.contact-name-wrapper input + label,
.contact-email-wrapper input + label,
.contact-comment-wrapper textarea + label {
  position: absolute;
  top: 15px;
  left: 14px;
  font-size: 14px;
  color: #999999;
  pointer-events: none;
  letter-spacing: 1.2px;
}

.search-form input:focus + label,
.login-name-wrapper input:focus + label,
.login-password-wrapper input:focus + label,
.newsletter-form-wrapper input:focus + label,
.contact-name-wrapper input:focus + label,
.contact-email-wrapper input:focus + label,
.contact-comment-wrapper textarea:focus + label {
  color: #5b9ddf;
  font-size: 11px;
  transform: translateY(-35px);
  transition: 0.2s;
}

.modal-contact {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  max-width: 440px;
  min-height: 477px;
  margin-left: -220px;
  padding: 20px 24px;
}

.modal-contact h2{
  font-weight: 500;
  font-size: 24px;
  color: #323232;
  margin: 0;
  margin-bottom: 24px;
}

.modal-contact p {
  margin: 0;
  margin-bottom: 20px;
}

.modal-contact input[type="text"],
.modal-contact input[type="email"] {
  box-sizing: border-box;
  width: 267px;
}

.contact-comment {
  width: 420px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  font-size: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 3px;
  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
